{% extends 'base.html.twig' %}

{% block body %}
  <div class="panel panel-primary">
    <div class="panel-heading">Panel Heading</div>
    <div class="panel-body">Panel Content</div>
  </div>
{% endblock %}  